.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.todo-container
{
  text-align: center;
  justify-content: center;
}
.todo-input-container
{
  margin-left: 10px;
  width: 50%;
  height: 40px;
  border-radius: 14px;
  border:1px solid black;
  padding-left: 10px;  
  outline: none;
  font-family: Cambria;
  font-size: large;
}

.add-task-btn
{
  background-color: rgb(140, 210, 140);
  border-radius: 10px;
  margin-left: 15px;
  height: 30px;
  font-weight: bold;
  border: none;
}

.todo-listitems
{
  list-style-type:decimal;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
