#container {
    display: flex;
    position: absolute;
    top: 20%; 
    left: 30%;   
}

#container #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
/* 
#container #box1, #box6, #box8{
    background-color: red;
}

#container #box2, #box4, #box9 {
    background-color: blue;
}

#container #box3, #box5, #box7{
    background-color: green;
} */

button{
    position: absolute;
    top: 70%;
    left: 34%;
    padding: 10px;
    width: 145px;
}
